.container-fluid {
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/51115/restaurant-wine-glasses-served-51115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.container {
}
